{% extends "base.html" %}

{% block title %}Yielding Opportunities From Information{% endblock %}

{% block content %}
    <h1>Yielding Opportunities From Information</h1>
    <p>Wij ontsluiten, bewerken, verrijken en analyseren (open) data om tot unieke kansen te komen voor publieke en private instellingen.</p>
    <p>De verrijkte data wordt aangeboden via APIs en datasets om in kernprocessen gebruikt te worden en verbeterde resultaten te behalen.</p>
    <p>Niet langer wachten op interne data afdelingen en BICC om de leads aan te leveren en op waarde te schatten.</p>
{% endblock %}