{% extends "base.html" %}

{% block title %}Over Ons{% endblock %}

{% block content %}
    <div class="over-ons">
        <h2>over <span class="brand-color">yofi</span></h2>
        <img src="{{ url_for('static', filename='images/yofi-utrecht.jpeg') }}" alt="yofi kantoor Utrecht">
        <p>Bij yofi geloven we in de kracht van data om impact te maken. Vanuit ons kantoor in Utrecht verzamelen en verrijken we hoogwaardige datasets die bedrijven helpen om betere beslissingen te nemen.</p>
        <p>Onze gespecialiseerde aanpak combineert geavanceerde technologieën en marktkennis om data om te zetten in waardevolle inzichten. Of het nu gaat om klantsegmentatie, marktanalyses of het optimaliseren van processen, wij leveren kant-en-klare datasets die direct toepasbaar zijn.</p>
        <p>Met yofi haal je niet alleen data in huis, maar ook de expertise om deze data om te zetten in resultaten. Samen bouwen we aan een datagedreven toekomst.</p>
    </div>
{% endblock %}