{% extends "base.html" %}

{% block title %}Werken bij YOFI{% endblock %}

{% block content %}
    <h2>Privacybeleid</h2>
    <div class="privacybeleid">
        <h3>Wie wij zijn</h3>

        <p>Wij zijn yofi, een bedrijf dat gespecialiseerd is in het maken en verwerken van datasets voor externe partijen. Onze website is: www.yofi.nl.
            
        <h3>Gebruik van cookies</h3>
        <p>Wij gebruiken cookies om login gegevens lokaal op te slaan op uw apparaat. Daarnaast worden cookies gebruikt voor data analyse om het gebruik van onze website in kaart te brengen. Deze cookies verlopen automatisch.</p>
            
        <h3>Inhoud van andere websites</h3>
        <p>Wij kunnen voor deze website gebruik maken van onderdelen van andere websites. Deze kunnen hun eigen cookies plaatsen en informatie over u vergaren. Dit valt onder het privacy beleid van deze andere partijen.</p>
            
        <h3>Met wie wij data delen</h3>
        <p>Wij delen technische bezoekersinformatie van deze website met Google.</p>
        <p>Data vanuit onze datasets worden gedeeld met verschillende bedrijven en instellingen.</p>
            
        <h3>Hoe lang wij gegevens bewaren</h3>
        <p>Wij hanteren de wettelijke termijnen voor het bewaren van onze data.</p>
            
        <h3>Welke rechten u heeft over uw data</h3>
        <p>U heeft het recht om een overzicht aan te vragen van de data die wij van u hebben en u heeft het recht om data over u te laten verwijderen zolang wij deze data niet vanwege wettelijke redenen dienen te bewaren.</p>
            
        <h3>Waar uw data naartoe wordt gestuurd</h3>
        <p>Wij verwerken alle data verzoeken intern met eigen geschreven applicaties. Uw data wordt niet verder verspreid en/of gedeeld dan strikt noodzakelijk om uw verzoek af te handelen. </p>

        <h3>Contact</h3>
        <p>Neem voor vragen over ons beleid contact op via <a href="/contact">onze contactpagina</a>.</p>
    </div>
{% endblock %}