# requirements.txt

boto3==1.35.98
botocore==1.35.98
deltalake==0.23.2
jmespath==1.0.1
polars==1.19.0
pyarrow==18.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
s3transfer==0.10.4
six==1.17.0
urllib3==2.3.0
